@import "../node_modules/@coreui/coreui/scss/functions";
@import "../node_modules/@coreui/coreui/scss/variables";

@import "../node_modules/@coreui/coreui/scss/maps";
@import "../node_modules/@coreui/coreui/scss/mixins";
@import "../node_modules/@coreui/coreui/scss/root";
@import "../../../node_modules/@coreui/coreui/scss/popover";

.popover{
    --#{$prefix}popover-bg: var(--color-default-navtooltip) !important;
    --#{$prefix}popover-border-color: var(--color-default-navtooltip);
    --#{$prefix}popover-arrow-border: var(--color-default-navtooltip);

    --#{$prefix}popover-body-color: white;
    --#{$prefix}popover-body-padding-x: 0.5rem;
    --#{$prefix}popover-body-padding-y: 0.3rem;
    // --#{$prefix}popover-header-padding-y: 3rem;
    --#{$prefix}popover-border-radius: 0.3rem;
    --#{$prefix}popover-arrow-height: 0.5rem;
    border: none !important;


    border: var(--#{$prefix}popover-border-width) solid var(--#{$prefix}popover-border-color);



}

.popover-arrow{
    top: calc(-1 * (var(--cui-popover-arrow-height)));
}

// .popover-arrow::after{
//     top:
// }


.bs-popover-top {

    > .popover-arrow {
        bottom: calc(-1 * (var(--#{$prefix}popover-arrow-height)));
    }

    // &::before {
    //     bottom: 0;
    //     border-top-color: transparent;
    //   }

    //   &::after {
    //     bottom: var(--#{$prefix}popover-border-width);
    //     border-top-color: transparent;
    //   }
}

.bs-popover-bottom > .popover-arrow{
    top: calc(-1 * (var(--cui-popover-arrow-height)));

    // &::before {
    //     top: 0;
    //     border-bottom-color: transparent;
    //   }

    //   &::after {
    //     top: var(--#{$prefix}popover-border-width);
    //     border-bottom-color: transparent;
    //   }
}