@import "../node_modules/@coreui/coreui/scss/functions";
@import "../node_modules/@coreui/coreui/scss/variables";

@import "../node_modules/@coreui/coreui/scss/maps";
@import "../node_modules/@coreui/coreui/scss/mixins";
@import "../node_modules/@coreui/coreui/scss/root";
@import "../../../node_modules/@coreui/coreui/scss/popover";

.popover_saveUI{
    // z-index: 995;
    --#{$prefix}popover-bg: white !important;
    // --#{$prefix}popover-border-color: var(--color-default-navtooltip);
    // --#{$prefix}popover-arrow-border: var(--#{$prefix}popover-border-color) !important;
    --#{$prefix}popover-arrow-border:     rgba(0,0,0,0.2) !important;


    --#{$prefix}popover-body-color: var(--color-default-gray) !important;
    --#{$prefix}popover-body-padding-x: 0 !important;
    --#{$prefix}popover-body-padding-y: 0 !important;
    // --#{$prefix}popover-header-padding-y: 3rem;
    // --#{$prefix}popover-box-shadow:  0px 1px 4px rgb(230, 230, 230);
    // --#{$prefix}popover-border-radius: 0.3rem !important;
    --#{$prefix}popover-arrow-height: 0.5rem !important;
    --#{$prefix}popover-header-bg: white !important;
    --#{$prefix}popover-header-color: var(--color-default-gray) !important;

    border: none !important;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2) !important;

    // box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2) !important;
    // box-shadow: 0px 1px 4px rgb(230, 230, 230) !important;

    // border: var(--#{$prefix}popover-border-width) solid var(--#{$prefix}popover-border-color) !important;


    & .popover-header {

        background-color: white !important;
    }

    & .popover-arrow{
        top: calc(-1 * (var(--cui-popover-arrow-height))) !important;
        // border: 0.5px solid black;
    }

    // .popover-arrow::after{
    //     top:
    // }


    & .bs-popover-top {

        > .popover-arrow {
            bottom: calc(-1 * (var(--#{$prefix}popover-arrow-height))) !important;
            &::before {
                top: 0 !important;
                border-bottom-color: rgb(230, 230, 230) !important;
              }

              &::after {
                top: var(--#{$prefix}popover-border-width) !important;
                border-bottom-color: white !important;
              }
        }

        // &::before {
        //     bottom: 0;
        //     border-top-color: rgb(230, 230, 230);
        //   }

        //   &::after {
        //     bottom: var(--#{$prefix}popover-border-width);
        //     border-top-color: rgb(230, 230, 230);
        //   }
    }

    & .bs-popover-bottom > .popover-arrow{
        top: calc(-1 * (var(--cui-popover-arrow-height))) !important;

        &::before {
            top: 0 !important;
            border-bottom-color: rgb(230, 230, 230) !important;
          }

          &::after {
            top: var(--#{$prefix}popover-border-width) !important;
            border-bottom-color: white !important;
          }
    }

}


