@import "../node_modules/@coreui/coreui/scss/functions";
@import "../node_modules/@coreui/coreui/scss/variables";

@import "../node_modules/@coreui/coreui/scss/maps";
@import "../node_modules/@coreui/coreui/scss/mixins";
@import "../node_modules/@coreui/coreui/scss/root";
@import "../../../node_modules/@coreui/coreui/scss/popover";

.popover{
    // z-index: 995;
    --#{$prefix}popover-bg: white !important;
    // --#{$prefix}popover-border-color: var(--color-default-navtooltip);
    --#{$prefix}popover-arrow-border: white;

    --#{$prefix}popover-body-color: var(--color-default-gray);
    --#{$prefix}popover-body-padding-x: 0;
    --#{$prefix}popover-body-padding-y: 0;
    // --#{$prefix}popover-header-padding-y: 3rem;
    // --#{$prefix}popover-box-shadow:  0px 1px 4px rgb(230, 230, 230);
    --#{$prefix}popover-border-radius: 0.3rem;
    --#{$prefix}popover-arrow-height: 0.5rem;
    --#{$prefix}popover-header-bg: white;
    --#{$prefix}popover-header-color: var(--color-default-gray);

    border: none !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    // box-shadow: 0px 1px 4px rgb(230, 230, 230);

    border: var(--#{$prefix}popover-border-width) solid var(--#{$prefix}popover-border-color);



}

.popover-header {

    background-color: white;
}

.popover-arrow{
    top: calc(-1 * (var(--cui-popover-arrow-height)));
    // border: 0.5px solid black;
}

// .popover-arrow::after{
//     top:
// }


.bs-popover-top {

    > .popover-arrow {
        bottom: calc(-1 * (var(--#{$prefix}popover-arrow-height)));
    }

    // &::before {
    //     bottom: 0;
    //     border-top-color: rgb(230, 230, 230);
    //   }

    //   &::after {
    //     bottom: var(--#{$prefix}popover-border-width);
    //     border-top-color: rgb(230, 230, 230);
    //   }
}

.bs-popover-bottom > .popover-arrow{
    top: calc(-1 * (var(--cui-popover-arrow-height)));

    &::before {
        top: 0;
        border-bottom-color: rgb(230, 230, 230);
      }

      &::after {
        top: var(--#{$prefix}popover-border-width);
        border-bottom-color: white;
      }
}