@import "../node_modules/@coreui/coreui/scss/functions";
@import "../node_modules/@coreui/coreui/scss/variables";

@import "../node_modules/@coreui/coreui/scss/maps";
@import "../node_modules/@coreui/coreui/scss/mixins";
@import "../node_modules/@coreui/coreui/scss/root";
@import "../../../node_modules/@coreui/coreui/scss/buttons";

.btn_custom {

    // --#{$prefix}btn-color: white;
    color: white;
    background-color: var(--b45);

    &:hover {

    }

    & .btn-primary {
        --cui-btn-color: rgba(255, 255, 255, 0.87);
        --cui-btn-bg: green;
        --cui-btn-border-color: #321fdb;
        --cui-btn-hover-color: rgba(255, 255, 255, 0.87);
        --cui-btn-hover-bg: #5141e0;
        --cui-btn-hover-border-color: #4735df;
        --cui-btn-focus-shadow-rgb: 75, 58, 223;
        --cui-btn-active-color: rgba(255, 255, 255, 0.87);
        --cui-btn-active-bg: #5b4ce2;
        --cui-btn-active-border-color: #4735df;
        --cui-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 21, 0.125);
        --cui-btn-disabled-color: rgba(255, 255, 255, 0.87);
        --cui-btn-disabled-bg: #321fdb;
        --cui-btn-disabled-border-color: #321fdb;
    }
}